.flag_img {
    width: 50px;
    height: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
    column-gap: 2px;
}

.country {
    text-align: center;
}

.container{
    display:flex;
    border:2px solid black;
    margin:5px;
    justify-content:center;
    align-items:center;
    padding:5px;
}